<!-- C:\Users\USUARIO\Documents\SD_Final\DistributedVotingSystem\elections\src\main\resources\templates\home.html -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>
<body>
    <h1>Welcome to the Elections App</h1>
    <ul>
        <li><a href="/newElection">Create a New Election</a></li>
        <li><a href="/candidates">Manage Candidates</a></li>
        <li><a href="/voters">Manage Voters</a></li>
    </ul>
</body>
</html>
